<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>30879356045-rqjrgg5h288qo07jtsmu6ajl8qkmoa3j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpQ2JmC9kGhgDqnbF2UieVsfiizXhxIVc</string>
	<key>GCM_SENDER_ID</key>
	<string>30879356045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.care</string>
	<key>PROJECT_ID</key>
	<string>cares-464807</string>
	<key>STORAGE_BUCKET</key>
	<string>cares-464807.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30879356045:ios:7ce878bc3498c692a5fec4</string>
</dict>
</plist>